import React, { FC } from 'react';

export interface {{pascalCase controllerName}}Props {
	/* Props here */
}

export const {{pascalCase controllerName}}: FC = (props: {{pascalCase controllerName}}Props) => {
	return <div>{{pascalCase controllerName}} Preview</div>;
};
