.solidShopNow {
    background-color: #D77E5E; 
    border: 2px solid #D77E5E;
    border-radius: 50px;
    color: white; 
    padding: 4px 12px; 
}
.outlineShopNow {
    background-color: 'transparent'; 
    border: 2px solid #D77E5E;
    border-radius: 50px;
    color: black; 
    padding: 4px 12px; 
}